
.hello {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    /*flex-wrap: wrap;*/
}

body{
    background-color: #f2f2f2;
}

/*#app{*/
    /*height: 100%;*/
/*}*/

.nav{
    position: fixed;
    width: 100%;
    height: 64px;
    top:0;
}

.nav>div{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 10pt;
    left: 15pt;
    right: 15pt;
    height: 15pt;
}

.nav>div>p{
    color: white;
}

.slider-dot {
    width: 10px;
    height: 10px;
    /*border: 3px solid #ccc;*/
    margin: 6px;
    cursor: pointer;
    border-radius: 50%;
    background: #ccc;
    display: inline-block;
}

.slider-dots-wrap {
    /*z-index: 99;*/
    text-align: center;
    position: absolute;
    width: auto;
    bottom: 20px;
    right: 15pt;
}

.slider-dot-selected {
    width: 10px;
    height: 10px;
    /*border: 3px solid white;*/
    margin: 6px;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    display: inline-block;
}

.slider{
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 10pt;
}

.slider>ul{
    height: auto;
    overflow: hidden;
    position: relative;
    left: 0;
    transition: left 1s;
}

.sliderLast{
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 10pt;
}

.sliderLast>ul{
    height: auto;
    overflow: hidden;
    position: relative;
    left: 0;
}

.sliderFirst{
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 10pt;
}

.sliderFirst>ul{
    height: auto;
    overflow: hidden;
    position: relative;
    right: 0;
}

.slider-item {
    display: inline-block;
    height: auto;
}

.slider-item>img{
    display: block;
    height: auto;
    width: 100%;
}

.example-enter {
    transform: translate3d(100%,0,0);
    transition: transform 0.2s ;
    z-index: 1;
}

.example-enter.example-enter-active {
    transform: translate3d(0,0,0);
}

.example-leave {
    transform: translate3d(0,0,0);
    transition: transform 0.2s ;
}

.example-leave.example-leave-active {
    transform: translate3d(0,0,0);
}

*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}

.floatLeft{
    display: inline-block;
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.firstCellli{
    list-style: none;
    float: left;
    width: 25%;
}

.borderClass{
    border:1px solid #e8e8e8;
    border-left: 0px;
    border-top: 0px;
    float: left;

    /*line-height: 60pt;*/
}

.lineHeightClass{
    display: inline-block;
    line-height: 30pt;
    vertical-align: bottom;
}



.publishForm{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.floatRight{
    width: 400pt;
    padding: 15pt;
}

.imgSize{
    width: 30pt;
    height: 30pt;
    border-radius: 15pt;
    float: left;
}

.contentDiv{
    margin-top: 3pt;
    margin-left: 8pt;
    float: left;
}

.nameDiv{
    color:#666666;
    font-size: 12pt;
}

.itemDiv{
    color: #999999;
    margin-top: 5pt;
    font-size: 8pt;
}

.qContentDiv{
    color:#333333;
    font-size: 13pt;
    margin-top: 5pt;
}


.findFirst{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.flexCenter{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selfCenter{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-self: center;
}

.image {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position:absolute;
    width: 100pt;
    height:100pt;
    top:14pt;
    right:30pt;
}

.tabbarBottom{
    width: 100%;
    height: 44pt;
    position: fixed;
    bottom: 0;
    background: white;
}

.tabbarBottom-item{
    float: left;
    width: 25%;
    margin-top: 10pt;
}


.findTitle{
    padding: 15px;
    /*position: relative;*/
    /*/!*line-height: 44px;*!/*/
    /*top: 15px;*/
    /*left: 15px;*/
}

.mineBgImg{
    position: absolute;
    top:0pt;
    left: 0pt;
    width: 100%;
    z-index: -99;
    height: 160pt;
}

.mine-top{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:5pt;
}

.spaceBetween{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mineIconSize{
    width: 60pt;
    height: 60pt;
    border-radius: 30pt;
}

.mineTop{
    /*display: block;*/
    text-align: center;
    /*position: relative;*/
    height: 160pt;
}

.mineCollectionItem{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border: 1px solid #e8e8e8;
    border-radius: 1px;
    flex: 1;
}

.loginInput{
    background-color: white;
    margin: 15px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    margin-top: 74px;
}

.loginInputItem{
    padding: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.loginInputItem input{
    border: none;
    outline: medium;
    margin-left: 15px;
}

.loginInputItem>.accountInput{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.loginInputItem .verifyNum{
    padding: 6px;
    background-color: rgba(204,204,204,1);
    border-radius: 16px;
    color: white;
    font-size: 12px;
}

.submitContainer{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 22.5px;
    background-color: rgba(245,163,120,1);
}

.loginSubmit{
    /*margin-left: 15px;*/
    background-color:rgba(245,163,120,1) ;
    border: none;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    color: white;
}

.mineSettingItem{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.mineSettingLogOut{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 44px;
    justify-content: center;
}

.masterProfileContent{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.uploadBox{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 70%;
    height: 150px;
    border: 2px solid #e8e8e8;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.uploadContainer{
    padding: 60px 30px 30px 30px;
    width: 100%;
    height: 100%;
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.dragBox{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 50%;
    height: 80%;
    border: dashed 2px #e8e8e8;
    justify-content: center;
    align-items: center;
}

.showImage{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
}

.none{
    display: none;
}

.selectImagesDiv{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.uploadHistoryDiv{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.uploadUrlDiv{
    border: solid 2px #e8e8e8;
    padding: 5px;
    width: 60%;
}

.lookImageBack{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0
}

.lookImageDiv{

    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.lookImage{
    -moz-transform:scale(0);
    -webkit-transform:scale(0);
    -o-transform:scale(0);
    transform: scale(0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 200px;
    height: 200px;
    top: 45%;
    left: 45%;
    position: absolute;
    /*width:198px;*/
    /*height:133px;*/
}

.imgScale{
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
    transform: scale(1);
}

/*.mine-userIcon{*/
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*align-self: center;*/
/*}*/